@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #101010;
  --background: #F1FFFA;
  --midgreen: #389f7c;
  --highlighterGreen: #9eff9d;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

@keyframes floatAway {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  75% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}


body {
  padding: 1rem;
  color: var(--foreground);
  background: var(--background);
}


.segment {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2px;
}

.field, .field-separator {
  word-wrap: break-word;
}

.field:hover {
  background-color: var(--highlighterGreen);
  color: #000;
}

.field-separator {
  color: #979797;
}

.component-separator{
  color: #979797;
}

.tippy-box[data-theme~='hog'] {
  background-color: var(--highlighterGreen);
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}

.tippy-box[data-theme~='hog'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: var(--highlighterGreen);
}

.ibm-plex-mono {
  font-family: var(--font-ibm-plex-mono);
}

/*
C33C54 Rose red
D8315B Cerise
https://coolors.co/001408-f1fffa-ccfccb-57886c-d8315b
https://coolors.co/visualizer/001408-f1fffa-ccfccb-57886c-d8315b
*/