@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #F1FFFA;
  --background: #001408;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

body {
  padding: 1rem;
  color: var(--foreground);
  background: var(--background);
}


.segment {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2px;
}

.field, .field-separator {
  white-space: nowrap;
}

.field:hover {
  background-color: #CCFCCB;
  color: #000;
}

.tippy-box[data-theme~='hog'] {
  background-color: #CCFCCB;
  color: black;
}

.tippy-box[data-theme~='hog'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #CCFCCB;
}

/*
C33C54 Rose red
D8315B Cerise
https://coolors.co/001408-f1fffa-ccfccb-57886c-d8315b
https://coolors.co/visualizer/001408-f1fffa-ccfccb-57886c-d8315b
*/